<form id="forma" class="rec" #addServiceForm = "ngForm">
  <h3 id="reg_title" class="jumbotron">Add new service</h3>

  <div class="form-group row" style="margin-top: 10%">
    <label for="service_name">Service name: </label>
    <input type="text" class="form-control" name="service_name" id="service_name" [(ngModel)]="service.Name" required
           style="width: 40%;margin-left: 9%" />
  </div>

  <div class="form-group row">
    <label for="email">Email: </label>
    <input type="text" class="form-control" name="email" id="email" [(ngModel)]="service.Email" required
           style="width:40%;margin-left: 9%"/>
  </div>

  <div class="form-group row">
    <label >Description: </label>
    <textarea rows="3" type="text" class="form-control" name="description" id="description" [(ngModel)]="service.Description" required
             style="width:40%;margin-left: 9%"></textarea>
  </div>
  <div style="margin-top: 10%">
      <input type="button" class="btn btn-dark" routerLink="/main-page" value="Back"
           style="float: left;margin: 3% 0 10% 0;">
    <input type="submit" class="btn btn-dark" (click)="addService()" routerLink="/main-page" value="Submit"
           style="float: right;margin:3% 5% 10% 0" />
  </div>
</form>
<div>

</div>

<div class="container" align="center" style="overflow-y: scroll">
    <h2>Existing services</h2>
    <table class="table table-dark" style="width: 70%;margin-top: 4%;height: 50%;overflow-x: scroll">
      <thead>
        <tr>
          
        </tr>
      </thead>
      <tbody>
          <span *ngFor="let service of services">
              <tr  *ngIf="service.Approved">
                <td><strong>{{service.Name}}</strong></td>
                <td scope="row">
                  <button class="btn btn-info" (click)="addBranchOffice(service)">Add branch office</button>
                </td>
              </tr>
                </span>
      </tbody>
    </table>
  </div>






<!--
<div align="center" style="overflow-y: scroll">
  <h1 class="jumbotron">Existing services</h1>
  <table class="table" style="width: 70%;margin-top: 4%;height: 50%;overflow-x: scroll">
    <tr class="table-dark">
      <td scope="col">Name</td>
      <td>&nbsp;</td>
    </tr>
    <span *ngFor="let service of services">
    <tr class="table-light" *ngIf="service.Approved">
      <td><strong>{{service.Name}}</strong></td>
      <td scope="row">
        <button class="btn btn-info" (click)="addBranchOffice(service)">Add branch office</button>
      </td>
    </tr>
      </span>
  </table>
</div>
-->