<form class="form-horizontal" name="nesto" id="forma" #accountForm="ngForm">
    <fieldset>
        <h3 id="reg_title" class="jumbotron">Add Service</h3>

    <!-- Form Name -->
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput1">Name</label>  
      <div class="col-md-4">
      <input id="textinput1" name="textinput1" type="text" placeholder="enter name" class="form-control input-md" [(ngModel)]="service.Name" required />
        
      </div>
    </div>
    
    <div class="form-group">
        <label class="col-md-4 control-label" for="textinput2">Email</label>  
        <div class="col-md-4">
        <input id="textinput2" name="textinput2" type="text" placeholder="enter email" class="form-control input-md" [(ngModel)]="service.Email" required />
          
        </div>
      </div>

      <div class="form-group">
          <label class="col-md-4 control-label" for="textinput3">Description</label>  
          <div class="col-md-4">
          <input id="textinput3" name="textinput3" type="text" placeholder="enter description" class="form-control input-md" [(ngModel)]="service.Description" required />
            
          </div>
        </div>
    
    
    <div class="form-group">
        <label class="col-md-4 control-label" for="button1id"></label>
        <div class="col-md-8">
          <input type="submit" (click)="addService(); accountForm.reset()" [disabled]="!accountForm.form.valid" value="Submit" class="btn btn-dark" routerLink="/main-page"  style="float: left;margin:3% 5% 10% 0"/>
          <button id="button2id" name="button2id" class="btn btn-dark" routerLink="/main-page" style="float: left;margin: 3% 0 10% 0;">Back</button>
        </div>
      </div>


    </fieldset>
    </form>








<div class="container" align="center" style="overflow-y: scroll">
    <table class="table table-dark" style="width: 70%;margin-top: 4%;height: 50%;overflow-x: scroll">
      <thead>
        <tr>
          <th>SERVICES:</th>
        </tr>
      </thead>
       
          <tr *ngFor="let service of services">
              
                
                <td *ngIf="service.Approved">
                  {{service.Name}}
                </td>
                <td *ngIf="service.Approved">
                    <button class="btn btn-info" (click)="addBranchOffice(service)">Add branch office</button>
                  </td>
                  <td *ngIf="service.Approved">
                    <button class="btn btn-info" (click)="addCar(service)">Add car</button>
                  </td>
              </tr>     
        
    </table>
  </div>







