

<div class="container" align="center" style="overflow-y: scroll">
    <table class="table table-striped"   style="background: rgba(237, 237, 237, 0.80); width: 70%;margin-top: 4%;height: 50%;overflow-x: scroll">
      <thead>
        <tr>
          <th>SERVICES:</th>
        </tr>
      </thead>
       
          <tr *ngFor="let service of services">  
                <td *ngIf="service.Approved">
                  <label  (click)="openService(service)" >{{service.Name}}</label>
                </td>
                <td *ngIf="service.Approved">
                  <div *ngIf="isManager()">
                    <button  class="btn btn-info"  (click)="updateService(service)" >Update</button>
                  </div>
                </td>
                <td *ngIf="service.Approved">
                  <div *ngIf="isManager()">
                    <button  class="btn btn-info"  (click)="deleteService(service)" >Delete</button>
                  </div>
                </td>
         </tr>     
        
    </table>
  </div>
