<h3 id="reg_title" class="jumbotron">{{serviceName}}</h3>

<div class="container" align="center" style="overflow-y: scroll">
  <table class="table table-dark"  style="width: 70%;margin-top: 4%;height: 50%;overflow-x: scroll">
    <thead>
      <tr>
        <th>VEHICLES:</th>
      </tr>
      <tr>
        <th>Maker</th>
        <th>Model</th>
      </tr>
    </thead>
     
        <tr *ngFor="let car of cars">
            
              
              <td>
                 {{car.Maker}} 
              </td>
              <td>
                {{car.Model}} 
             </td>
             <td>
              <button class="btn btn-info" *ngIf="canReserve()" (click)="reserveCar(car)">Rent</button>
            </td>
            </tr>     
      
  </table>
</div>
