<form class="form-horizontal" name="nesto" id="forma" #accountForm="ngForm">
    <fieldset>
        <h3 id="reg_title" class="jumbotron">Update service</h3>

    <!-- Form Name -->
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput1">Name</label>  
      <div class="col-md-8">
      <input id="textinput1" name="textinput1" readonly type="text" placeholder="enter name" class="form-control input-md" [(ngModel)]="service.Name" required />
        
      </div>
    </div>
    
    <div class="form-group">
        <label class="col-md-4 control-label" for="textinput2">Email</label>  
        <div class="col-md-8">
        <input id="textinput2" name="textinput2" type="text" placeholder="enter email" class="form-control input-md" [(ngModel)]="service.Email" required />
          
        </div>
      </div>

      <div class="form-group">
          <label class="col-md-4 control-label" for="textinput3">Description</label>  
          <div class="col-md-8">
          <textarea id="textinput3" name="textinput3" type="text" placeholder="enter description" class="form-control input-md" [(ngModel)]="service.Description" required ></textarea>
            
          </div>
        </div>
    
    
    <div class="form-group">
        <label class="col-md-4 control-label" for="button1id"></label>
        <div class="col-md-8">
          <input type="button" (click)="updateService(); accountForm.reset()" [disabled]="!accountForm.form.valid" value="Submit" class="btn btn-dark" routerLink="/main-page"  style="float: left;margin:3% 5% 10% 0"/>
          <button id="button2id" name="button2id" class="btn btn-dark" routerLink="/main-page" style="float: left;margin: 3% 0 10% 0;">Back</button>
        </div>
      </div>


    </fieldset>
    </form>


