
<form class="form-horizontal" name="nesto" id="forma" #accountForm="ngForm">
    <fieldset>
        <h3 id="reg_title" class="jumbotron">Add Branch Office</h3>

    <!-- Form Name -->
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput1">Address</label>  
      <div class="col-md-4">
      <input id="textinput1" name="textinput1" type="text" placeholder="enter address" class="form-control input-md" [(ngModel)]="bo.Address" required />
        
      </div>
    </div>
    
    <div class="form-group">
            <label class="col-md-4 control-label" for="button1id"></label>
            <div class="col-md-8">
              <input type="submit" class="btn btn-dark" (click)="addBranchOffice(); accountForm.reset()" [disabled]="!accountForm.form.valid" value="Submit" routerLink="/services" style="float: left;margin:3% 5% 10% 0"/>
              <button id="button2id" name="button2id" class="btn btn-dark" routerLink="/services" style="float: left;margin: 3% 0 10% 0;">Back</button>
            </div>
          </div>

    
    
    


    </fieldset>
    </form>



